/* Polices custom*/
@font-face {
	font-family: "Terraria";
	src: url("fonts/ANDYB.TTF");
}

@font-face {
	font-family: "MC";
	src: url("fonts/MinecraftRegular-Bmg3.otf");
}


/* body */
body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5;
}

  
/* navbar */
header {
	top: 0;
	background-color: #5fe9c0e5;
	display: flex;
	position: sticky ;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding: 8px 40px;
	margin-bottom: 3%;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	z-index: 20;
}
  
/* Titre header */
h1 {
	font-size: 45px;
	text-transform: uppercase;
	font-family: "Terraria";
	text-shadow: 5px 5px 10px grey;
	transition: 0.3s;
}

/* Catégories header */
.categorie {
	display: inline-block;
	margin-bottom: 0;
	font-size: 28px;
	border-radius: 10px;
	transition: 0.6s;
	font-family: "Terraria";
}

/* Texte catégorie */
.liencat {
	display: block;
	color: #fff;
	text-decoration: none;
	text-shadow: 5px 5px 10px grey;
	padding: 10px;
	transition: 0.6s;
}

/* Animations header */
h1:hover {
	color: #e6eb44;
	transition: 0.7s;
}

.categorie:hover {
	background-color: #74431b;
	transform: translateY(-4px);
	transition: 0.6s;
}
.categorie:hover a {
	color:#e6eb44;
	transition: 0.5s;
}


/* CV */
.cv {
	display: flex;
	flex-wrap: wrap;
}

.cv > div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.cv h3 {
	font-size: 28px;
	text-decoration: underline;
}

.cv ul {
	list-style-type: none;
}

.cv li {
	padding: 1%;
}

.cv > div > article {
	width: 48%;
	padding: 1%;
}

.cv article > div {
	padding: 1%;
}

.dateStage, .lieu {
	font-style: italic;
}


/* Contact */
form {
	display: flex;
	flex-wrap: wrap;
	margin: 4% 8%;
	background-color: #b8b3a5;
	padding: 3%;
	border-radius: 20px;
	box-shadow: 2px 2px 8px 5px rgb(131, 123, 123);
}

label {
	padding: 2%;
	margin: auto;
}

input, textarea {
	width: 100%;
	height: 3vh;
	font-size: 2.8vh;
	border-style: solid;
	border-radius: 8px;
}

textarea {
	height: 12vh;
	resize: none;
}

#msg {
	width: 80%;
}

input[type="submit"] {
	width: 20%;
	height: 1%;
	margin: auto;
	font-size: 3vh;
	padding: 1%;
	border-color: transparent;
	border-radius: 15px;
	transition: 0.3s;
}

input[type="submit"]:hover {
	width: 22%;
	background-color: #44AA66;
	color: #ededed;
	transition: 0.5s;
}

/* Section de catégorie */
main {
	background-color: #fec;
	padding: 35px;
	margin: 20px;
	box-shadow: 0 0 0.5rem 0.5rem rgb(204, 204, 204);
	margin-bottom: 80px;
	border-radius: 10px;
}
  
/* Titres de catégories */
h2 {
	margin: 5px;
	font-size: 60px;
}


/* Liste des compétences */
.layoutTable{
	/* background-color: #667; */
	border-radius: 7px;
}
.ligneLayout {
	height: 450px;
	text-align: center;
}
.elemLayout {
	width: 25%;
	position: relative;
}
.imageElem {
	width: 65%;
	transition: 0.7s;
}

/* Animations compétences */
.elemLayout:hover .boxTxt {
	height: 100%;
}
.elemLayout:hover .imageElem {
	filter: blur(5px);
	width: 55%;
	transition: 0.5s;
}
.elemLayout:hover {
	background-color: #44AA66;
	transition: 0.5s;
}

/* Arrière plan descriptif */
.boxTxt {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008bbabb;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s;
}

/* Descriptif compétence */
.elemTxt {
	color:#ddd;
	position: absolute;
	overflow: hidden;
	top: 8%;
	left: 20%;
	transform: translate(-12.5%, -10%);
}
.elemTxt > h3 {
	font-size: 2.2em;
}
.elemTxt > p {
	font-size: 1.8em;
}

/* Projets */
#layoutProjets {
	width: 97.5%;
	margin: 25px;
	background-color: #555;
	text-align: center;
	border-radius: 15px;
}
.nomProj {
	width: 50%;
	padding: 30px;
	color: #CCC;
	font-size: 40px;
	font-weight: bold;
}
.lienPlus {
	background-color: #44AA66;
	margin: auto;
	margin-top: 10px;
	width: fit-content;
	padding: 1px 20px 5px 20px;
	border-radius: 25px;
	transition: 0.5s;
}
.lienPlus:hover {
	background-color: #d3d3d3;
	transition: 0.5s;
}
.lienPlus > a {
	text-decoration: none;
	color: #dcdcdc;
	font-size: 30px;
}
.lienPlus:hover > a {
	color: #4b4b4b;
	transition: 0.5s;
}
.descProj {
	padding: 30px;
	color: #DDD;
	font-size: 25px;
}

/* Compétences projet */
.compUtil {
	background-color: #222222c0;
	display: flex;
	justify-content: space-evenly;
	border-radius: 30px;
	height: 2.5em ;
	padding: 10px;
}
.compUtil > img {
	width: 10%;
	object-fit: contain;
	padding: 5px;
	transition: 0.5s;
}
.compUtil > img:hover {
	background-color: #492d47b4;
	border-radius: 5px;
	transform: translateY(-5px);
	transition: 0.2s;
}

/* Présentation projet */
.demoProj {
	width: 60%;
  	height: 10em;
  	overflow: hidden;
	margin: auto;
	border-radius: 10px;
	transition: 0.3s;
}
.demoProj-images {
	width: 300%;
	height: 100%;
	display: flex;
	animation: slide 16s infinite;
}  
.imageProj {
	width: 33.333%;
} 
.imageProj > img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

/* Animation démo projet */
.demoProj:hover {
	box-shadow: 0 0 7px 7px white;
	transform: translateY(-9px);
	transition: 0.4s;
}

@keyframes slide {
	0% {
	  transform: translateX(0);
	}
	25% {
	  transform: translateX(-33.333%);
	}
	30% {
	  transform: translateX(-33.333%);
	}
	55% {
	  transform: translateX(-66.666%);
	}
	60% {
	  transform: translateX(-66.666%);
	}
	90% {
	  transform: translateX(0%);
	}
	100% {
	  transform: translateX(0%);
	}
}

/* Erreur */
#popChat {
	width: 10em;
	height: 10em;
	margin-bottom: 4%;
}

#contErr {
	text-align: center;
}

#contErr > a {
	text-decoration: none;
	font-size: 2rem;
	padding: 1%;
	border-radius: 10px;
	color: #CCC;
	background-color: #44AA66;
}

/* footer */
footer {
  background-color: #9b5f1b;
  padding: 30px;
  font-family: "MC";
  font-size: 25px;
}

footer > p {
	color: #eee;
}

/* Responsive */
@media all and (max-width: 1024px) {
	h1 {
		font-size: 4rem;
	}

	.categorie {
		font-size: 2.5rem;
	}

	.cv > div > article {
		width: 98%;
	}

	td {
		display: inline-block;
	}

	.elemLayout {
		box-sizing: border-box;
		width: 50%;
		padding: 2%;
		height: 16vh;
	}

	.elemTxt {
		left: 12%;
		width: 100%;
	}

	.elemTxt > h3 {
		font-size: 2.7rem;
	}

	.elemTxt > p {		
		font-size: 1.7rem;
	}

	label {
		font-size: 3rem;
	}

	input[type="submit"] {
		width: fit-content;
	}

	footer {
		font-size: 2.5rem;
	}
}
