/* Présentation */
.presentation {
    justify-content: space-between;
}

.presentation h2 {
    text-decoration: none;
    flex: unset;
}

.presentation h3 {
    font-family: Glacial Indifference;
    box-shadow: unset;
}

.presentation > div {
    display: flex;
    flex-direction: column;
    gap: 15%;
}

.presentation p {
    font-size: 1.7vw;
    font-style: italic;
}

.presentation > img {
    width: 30%;
    border-radius: 16px;
}

/* Parcours */
.parcours {
    justify-content: space-around;
}

.parcours > h2 {
    margin-bottom: 8%;
}

.parcours > article, .competences > article, .experiences > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    background-color: var(--texte);
    color: var(--fond);
    border-radius: 20px;
}

.parcours > article {
    gap: 1vh;
    padding: 2%;
}

.parcours > article:hover {
    transition: 0.3s;
    box-shadow: 0 0 .5vw .5vw var(--vert);
}

.parcours > article > h3 {
    margin-bottom: 3vh;
}

.parcours > article > p {
    font-size: 1.5vw;
    text-align: center;
    width: 18vw;
}

.parcours > article > p:last-of-type {
    font-style: italic;
}

.parcours > article:first-of-type:before, .parcours > article:last-of-type:before {
    content: "";
    position: absolute;
    left: 5%;
    top: 30%;
    width: 45vw;
    height: 1vh;
    background-color: var(--texte);
    z-index: -1;
}

.parcours > article:last-of-type::before {
    left: unset;
    right: 5%;
}

.parcours > article::after {
    content: "";
    position: absolute;
    top: 27%;
    padding: .5%;
    border: .7vw solid var(--vert);
    border-radius: 50%;
    background-color: var(--fond);
}

/* Compétences */
.competences, .experiences {
    gap: 5vh;
    justify-content: center;
}

.competences > p, .experiences > p {
    width: 100%;
    font-size: 1.8vw;
}

.competences > article {
    width: 17vw;
    height: 32vh;
    gap: 1.5vh;
    padding: 1vw;
}

.competences > article:hover, .experiences > article:hover {
    transition: 0.3s;
    scale: 1.09;
    box-shadow: 0 0 1vh 1vh var(--vert);
}

.competences > article > img, .experiences > article > img {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}

.competences > article > div {
    display: flex;
    background-color: var(--vert);
    padding: 4%;
    border-radius: 2vw;
    gap: 1vw;
}

.competences > article > div > img {
    width: 2vw;
    height: 2vw;
    object-fit: contain;
}

.competences > article > p, .experiences > article > p {
    font-size: 1.3vw;
}

/* Expériences */
.experiences {
    justify-content: space-evenly;
}

.experiences > article {
    width: 40vw;
    gap: 3vh;
    padding: 2vw;
}

.experiences > article:hover {
    scale: 1.05;
}

.experiences > article > ul {
    font-size: 1.5vw;
    margin-top: 3vh;
    font-style: italic;
    text-align: center;
    list-style: none;
}

.experiences > article > ul > li:not(:last-of-type) {
    margin-bottom: 1vh;
}

/* Exceptions thème clair */
html[data-theme="clair"] {
    .parcours > article, .competences > article, .experiences > article {
        background-color: var(--vert);
        color: var(--texte);
    }

    .parcours > article > h3, .competences > article > h3, .experiences > article > h3 {
        box-shadow: inset 0 -2vh var(--fond);
    }

    @media (max-width: 1000px) {
        .parcours > article > h3, .competences > article > h3, .experiences > article > h3 {
            box-shadow: inset 0 -2.3vw var(--fond);
        }   
    }

    .competences > article > div {
        background-color: var(--fond);
    }
}

/* Responsive */
@media (max-width: 1000px) {
    .presentation {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .presentation > div {
        text-align: center;
        gap: 2vh;
    }

    .presentation > img {
        width: 75%;   
    }

    .presentation p {
        font-size: 3vw;
    }

    .parcours {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .parcours > article:hover {
        box-shadow: 0 0 1vw 1vw var(--vert);
    }

    .parcours > article:last-of-type {
        margin-bottom: 4%;
    }

    .parcours > h2 {
        margin-bottom: 0;
    }

    .parcours > article > p {
        font-size: 3vw;
        width: 40vw;
    }

    .parcours > article:first-of-type:before, .parcours > article:last-of-type:before {
        margin-left: 0;
        margin-top: -4%;
        top: unset;
        left: 16%;
        width: 1.4vw;
        height: 45%;
    }

    .parcours > article:last-of-type:before {
        bottom: 4%;
    }

    .parcours > article::after {
        top: unset;
        left: 14%;
        margin-top: 6vh;
        padding: 1.2%;
        border-width: 1.5vw;
    }

    .competences > p, .experiences > p {
        font-size: 4vw;
        text-align: center
    }

    .competences > article {
        width: 40vw;
        height: 40vw;
        gap: 9%;
    }

    .competences > article > img {
        width: 8vw;
        height: 8vw;
    }

    .competences > article > p, .experiences > article > p, .experiences > article > ul {
        font-size: 3vw;
    }

    .competences > article > div {
        padding: 5%;
        border-radius: 6vw;
        gap: 2vw;
    }

    .competences > article > div > img {
        width: 6vw;
        height: 6vw;
    }

    .experiences > article {
        width: 60vw;
    }
}
