.projets {
    display: flex;
    flex-flow: column wrap;
    gap: 5vh;
    padding: 1%;
}

.projets > section {
    padding: 0;
    gap: 5vh;
}

.projets > section > h3 {
    width: 100%;
    background-color: var(--vert);
    color: var(--fond);
    box-shadow: unset;
    padding: 1vw;
    transition: .3s;
    border-radius: 25px;
}

.projets > section > h3:hover {
    cursor: pointer;
    transition: .3s;
    scale: 1.01;
}

.projets > section > h3 > span {
    display: inline-block;
    transition: 0.3s;
    padding: .8vw;
    margin-right: 2vw;
    box-shadow: .3vw .3vw;
    rotate: -45deg;
}

.projets > section[data-ouvert="true"] > article {
    display: flex;
    filter: none;

    &:nth-of-type(odd) {
        left: 0;
    }

    &:nth-of-type(even) {
        right: 0;
    }

    @starting-style {
        filter:blur(3px);

        &:nth-of-type(odd) {
            left: -100%;
        }

        &:nth-of-type(even) {
            right: -100%;
        }
    }
}

.projets > section[data-ouvert="true"] > h3 > span {
    transition: 0.3s;
    rotate: 45deg;
    transform-origin: 130%;
}

.projet {
    display: none;
    position: relative;
    align-items: center;
    width: 100%;
    padding-bottom: 3%;
    transition: .4s linear allow-discrete;
    filter: blur(3px);

    &:nth-of-type(odd) {
        left: -100%;
    }

    &:nth-of-type(even) {
        right: -100%;
    
        > aside {
            order: 1;
        }
    }
}

.projet:not(:last-of-type)::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -1vh;
    background-color: var(--vert);
    height: 1vh;
    width: 50vw;
}

.projet p {
    font-size: 1.4vw;
    padding: 1vw;
    text-align: center;
}

.projet > aside, .projet > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1vw;
}

.projet > aside {
    flex-flow: column wrap;
}

.projet > aside > div {
    display: flex;
    width: fit-content;
    padding: 2%;
    gap: 1vw;
    background-color: var(--vert);
    border-radius: 3vw;
}

.projet > aside > div > img {
    width: 3vw;
    height: 3vw;
    transition: .4s;
    object-fit: contain;
}

.projet > aside > div > img:hover {
    scale: 1.1;
    transition: .2s;
}

.projet > div {
    transform: perspective(25px);
	transform-style: preserve-3d;
}

.projet > div > img {
    width: 20vw;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 18s;
    transition: .5s;
    border-radius: 20px;

    &:nth-child(1) {
        animation-name: rotate-left;
    }
     
    &:nth-child(2) {
        animation-name: rotate-center;
    }
     
    &:nth-child(3) {
        animation-name: rotate-right;
    }
}

.projet > div:hover > img {
    animation-play-state: paused;
    border-radius: unset;
}

@keyframes rotate-left {
    0%, 100% {
        transform: translate3d(0,0,-15px);
        filter: blur(2px);
    }
  
    33.33% {
        transform: translate3d(100%,0,5px);
        filter: none;
    }
     
    66.66% {
        transform: translate3d(200%,0,-15px);
    }
  }
  
  @keyframes rotate-center {
    0%, 100% {
        transform: translate3d(0,0,5px);
    }
  
    33.33% {
        transform: translate3d(100%,0,-15px);
        filter: blur(2px);
    }
     
    66.66% {
        transform: translate3d(-100%,0,-15px);
    }
  }
  
@keyframes rotate-right {
    0%, 100% {
        transform: translate3d(0,0,-15px);
        filter: blur(2px);
    }
  
    33.33% {
        transform: translate3d(-200%,0,-15px);
    }
     
    66.66% {
        transform: translate3d(-100%,0,5px);
        filter: none;
    }
}

@keyframes depuisGauche {
    from {
        left: -100%;
        filter: blur(7px);
    }

    to {
        left: 0;
    }
}

@keyframes depuisDroite {
    from {
        right: -100%;
        filter: blur(7px);
    }

    to {
        right: 0;
    }
}

@media (max-width: 1000px) {
    .projets {
        gap: 3vh;
    }

    .projets p {
        font-size: 4.5vw;
    }

    .projets > h2 {
        font-size: 10vw;
    }

    .projets > section {
        gap: 3vh;
    }

    .projets > section > h3 {
        font-size: 8vw;
    }

    .projets > section > h3 > span {
        padding: 2.4vw;
        box-shadow: 1vw 1vw;
        margin-right: 5vw;
    }

    .projet {
        flex-direction: column;
        gap: 5vh;
    }

    .projet:not(:last-of-type) {
        padding-bottom: 9%;
    }

    .projet:not(:last-of-type)::after {
        bottom: 0vh;
    }

    .projet > aside, .projet > div {
        width: 100%;
        gap: 2.5vh;
    }

    .projet:nth-of-type(even) > aside {
        order: unset;
    }

    .projet > aside > h3 {
        font-size: 9vw;
    }

    .projet > aside > div {
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 70%;
        gap: 5vw;
        padding: 3.5%;
        border-radius: 10vw;
    }

    .projet > aside > div > img {
        width: 10vw;
        height: 10vw;
    }

    .projet > div > img {
        width: 60%;
    }

    @keyframes rotate-left {
        0%, 100% {
            transform: translate3d(32%,0,-15px);
            filter: blur(2px);
        }
      
        33.33% {
            transform: translate3d(109%,0,5px);
            filter: none;
        }
         
        66.66% {
            transform: translate3d(185%,0,-15px);
        }
      }
      
      @keyframes rotate-center {
        0%, 100% {
            transform: translate3d(0,0,5px);
        }
      
        33.33% {
            transform: translate3d(78%,0,-15px);
            filter: blur(2px);
        }
         
        66.66% {
            transform: translate3d(-78%,0,-15px);
        }
      }
      
    @keyframes rotate-right {
        0%, 100% {
            transform: translate3d(-32%,0,-15px);
            filter: blur(2px);
        }
      
        33.33% {
            transform: translate3d(-185%,0,-15px);
        }
         
        66.66% {
            transform: translate3d(-108%,0,5px);
            filter: none;
        }
    }
}