/* Couleurs */
:root {
  --fond: #FDF7F0;
  --texte: #435966;
  --vert: #B5D4B1;
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --fond: #435966;
    --texte: #FDF7F0;
  }

  html {
    color-scheme: dark;
  }

  header {
    color: var(--fond);
  }

  footer p>img {
    filter: invert();
  }
}

/* Polices */
@font-face {
  font-family: Glacial Indiference;
  src: url('/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: Glacial Indiference Gras;
  src: url('/fonts/GlacialIndifference-Bold.otf');
}

/* Défauts */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--texte);
  background: var(--fond);
  font-family: Glacial Indiference, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  padding: 1%;
}

section:not(:last-of-type) {
  padding-bottom: 2%;
  margin-bottom: 1%;
}

section:not(:last-of-type)::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  background-color: var(--vert);
  height: .6vh;
  width: 50vw;
}

h2 {
  font-size: 3.5vw;
}

h3 {
  font-size: 2.5vw;
}

/* Entête */
header {
  display: flex;
  position: fixed;
  width: 100vw;
  align-items: center;
  gap: 2%;
  padding: 1%;
  background: var(--vert);
  opacity: 0.95;
  color: var(--fond);
  z-index: 1;
}

header h1 {
  font-family: Glacial Indiference Gras, Arial, Helvetica, sans-serif;
  font-size: 2.3vw;
}

header>a {
  transition: 0.3s linear;
  font-size: 1.8vw;
}

header>a:hover {
  transition: 0.3s linear;
  color: var(--texte);
}

header>button {
  display: flex;
  position: absolute;
  right: 1.5%;
  background: var(--fond);
  padding: 0.3%;
  border-radius: 40%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

header>button>img {
  width: 1.6vw;
  transition: 0.3s;
}

header>button:hover {
  border: 2px solid var(--texte);
  transition: 0.3s;
}

header>button:hover img {
  filter: invert();
  transition: 0.3s;
}

/* Pied */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.6vw;
  text-align: center;
  padding: 1%;
  background: var(--vert);
  color: var(--fond);
}

footer img {
  width: 1.5vw;
}

footer a>img {
  position: absolute;
  transition: 0.2s;
}

footer a>img:hover {
  transition: 0.2s;
  width: 1.8vw;
}

/* Responsive */
@media (max-width: 1000px) {
  header {
    gap: 7%;
  }

  header a, header h1, footer {
    font-size: 6vw;
  }

  header>button {
    padding: 1%;
    right: 3%;
  }

  header>button>img {
    width: 4.5vw;
  }

  section:not(:last-of-type) {
    padding-bottom: 3%;
    margin-bottom: 1.5%;
  }

  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
  }

  footer {
    font-size: 6vw;
  }

  footer img {
    width: 6vw;
  }
}