.main {
    margin-top: 5%;
}

/* Présentation */
.presentation {
    justify-content: space-between;
}

.presentation h2 {
    text-decoration: none;
}

.presentation > div {
    display: flex;
    flex-direction: column;
    gap: 15%;
}

.presentation p {
    font-size: 1.7vw;
    font-style: italic;
}

.presentation > img {
    width: 30%;
    border-radius: 16px;
}

/* Parcours */
.parcours {
    justify-content: space-around;
}

.parcours > h2 {
    width: 100%;
    margin-bottom: 8%;
}

.parcours > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 2%;
    transition: 0.3s;
    background-color: var(--texte);
    color: var(--fond);
    border-radius: 20px;
}

.parcours > article:hover {
    transition: 0.3s;
    box-shadow: 0 0 .5vw .5vw var(--vert);
}

.parcours > article > h3 {
    font-family: Glacial Indifference Gras;
    margin-bottom: 3vh;
    box-shadow: inset 0 -2vh var(--vert);
}

.parcours > article > p {
    font-size: 1.5vw;
    text-align: center;
    width: 18vw;
}

.parcours > article > p:last-of-type {
    font-style: italic;
}

.parcours > article:first-of-type:before, .parcours > article:last-of-type:before {
    content: "";
    position: absolute;
    left: 5%;
    top: 30%;
    width: 45vw;
    height: 1vh;
    background-color: var(--texte);
    z-index: -1;
}

.parcours > article:last-of-type::before {
    left: unset;
    right: 5%;
}

.parcours > article::after {
    content: "";
    position: absolute;
    top: 27%;
    padding: .5%;
    border: .7vw solid var(--vert);
    border-radius: 50%;
    background-color: var(--fond);
}

/* Compétences */
.competences {
    gap: 5vh;
    justify-content: center;
}

.competences > h2, .competences > p {
    width: 100%;
}

.competences > p {
    font-size: 1.8vw;
}

.competences > article {
    display: flex;
    width: 17vw;
    height: 32vh;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    padding: 1vw;
    transition: 0.3s;
    background-color: var(--texte);
    color: var(--fond);
    border-radius: 20px;
}

.competences > article:hover {
    transition: 0.3s;
    scale: 1.09;
    box-shadow: 0 0 1vh 1vh var(--vert);
}

.competences > article > h3 {
    font-family: Glacial Indifference Gras;
    box-shadow: inset 0 -2vh var(--vert);
}

.competences > article > img {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}

.competences > article > div {
    display: flex;
    background-color: var(--vert);
    padding: 4%;
    border-radius: 2vw;
    gap: 1vw;
}

.competences > article > div > img {
    width: 2vw;
    height: 2vw;
    object-fit: contain;
}

.competences > article > p {
    font-size: 1.3vw;
}

html[data-theme="clair"] {
    .parcours > article, .competences > article {
        background-color: var(--vert);
        color: var(--texte);
    }

    .parcours > article > h3, .competences > article > h3 {
        box-shadow: inset 0 -2vh var(--fond);
    }

    .competences > article > div {
        background-color: var(--fond);
    }
}

/* Responsive */
@media (max-width: 1000px) {
    .main {
        margin-top: 10%;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .presentation > div {
        text-align: center;
        gap: 2vh;
    }

    .presentation > img {
        width: 75%;   
    }

    .presentation p {
        font-size: 3vw;
    }

    .parcours {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .parcours > article:hover {
        box-shadow: 0 0 1vw 1vw var(--vert);
    }

    .parcours > article:last-of-type {
        margin-bottom: 4%;
    }

    .parcours > h2 {
        margin-bottom: 0;
    }

    .parcours > article > p {
        font-size: 3vw;
        width: 40vw;
    }

    .parcours > article:first-of-type:before, .parcours > article:last-of-type:before {
        margin-left: 0;
        margin-top: -4%;
        top: unset;
        left: 16%;
        width: 1.4vw;
        height: 53vh;
    }

    .parcours > article:last-of-type:before {
        bottom: 4%;
    }

    .parcours > article::after {
        top: unset;
        left: 14%;
        margin-top: 6vh;
        padding: 1.2%;
        border-width: 1.5vw;
    }

    .parcours > article > h3, .competences > article > h3 {
        box-shadow: inset 0 -2.3vw var(--vert);
    }

    .competences > p {
        font-size: 4vw;
        text-align: center
    }

    .competences > article {
        width: 40vw;
        height: 40vw;
        gap: 2vh;
    }

    .competences > article > img {
        width: 8vw;
        height: 8vw;
    }

    .competences > article > p {
        font-size: 3vw;
    }

    .competences > article > div {
        padding: 5%;
        border-radius: 6vw;
        gap: 2vw;
    }

    .competences > article > div > img {
        width: 6vw;
        height: 6vw;
    }
}
